@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    /*  Paletas de cores */
    --azul-escuro: #00539C;
    --azul-claro: #7FA1BF;
    --preto-padrao: #1E1E1E;
    --branco-padrao: #ECF0F1;
    /* Cores padrão armazenadas */
    --preto: #000;
    --branco: #fff;

    /* Margin de 44px convertido em porcentagem */
    --margin-44px: 10.281%;
}

html {
    /* Tamanho da altura do documento HTML fica 100% da tela */
    height: 100%;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    animation: entryAnimation 2.5s ease;
}

#page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containerEntry {
    text-align: center;
    margin: 0;
}

#pularParaPerfil {
    /* Posicionamento */
    position: fixed;
    top: 50px;
    right: var(--margin-44px);
    transition: 200ms;
}

#pularParaPerfil>a {
    color: var(--azul-escuro);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

#pularParaPerfil:hover {
    transform: scale(0.98);
}


.frame>h2 {
    color: var(--preto-padrao);
    font-size: clamp(24px, 7vw, 32px);
    font-weight: 600;
}

.frame>h2 span {
    color: var(--azul-escuro);
}

.mensagem>img {
    width: 63px;
    margin: 8px auto 0;
    transition: 300ms;
}

.mensagem>p {
    font-family: 'Poppins';
    font-size: clamp(12.5px, 4vw, 17.5px);
    font-weight: 600;
    max-width: 550px;
    margin: 0 auto;
}

.mensagem>p span {
    color: var(--azul-escuro);
}

#botaoProximo {
    background-color: var(--azul-escuro);
    color: var(--branco-padrao);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 81px;
    border: 0;
    border-radius: 50px;
    margin: 137px auto 0;
    z-index: 1000;
    transition: 200ms;
    cursor: url("../assets/chevron_right.svg"), auto;
}

#botaoProximo:hover {
    opacity: 95%;
    scale: 1.02;
}

#botaoProximo:active {
    scale: 0.95;
} 

#botaoProximo img {
    margin-left: 8px;
    transition: 200ms;
}

#btnProximoText {
    transition: 200ms;
}

#btnProximoText, #pularParaPerfil {
    transition: opacity 0.5s ease-in-out;
}

/* Formulário */


/* Animação de entrada */
@keyframes entryAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
